.bundle/
/vendor/bundle
log/*.log
pkg/

# Dummy app related ignores
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/log/*.sql
spec/dummy/tmp/
spec/dummy/spec/tmp/
spec/dummy/.sass-cache
spec/dummy/public/extjs
spec/dummy/public/assets

# Ignore schema
/db/schema.rb
/spec/dummy/db/schema.rb
/spec/dummy/config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/spec/dummy/log/*.log
/tmp
.rvmrc
.ruby-version
.ruby-gemset
*~
*.komodoproject
/pkg
*.swp

# RSpec
.rspec
.rspec-results

# macOS
.DS_Store

# Files with command history for docker
.bash_history.docker
.pry_history.docker

# Keep empty for for ssh keys in docker
/.ssh-docker/*
!/.ssh-docker/.keep

# Ignore Gemfile.lock
Gemfile.lock

# JS stuff
/node_modules

# Ignore code coverage
coverage/
