<h1 class="application <%= 'error' unless @result['errors'].empty? %>">
  <%=
          Rails.application.config.marty.diag_title || ::Marty::RailsApp.application_name
        %> Diagnostic
</h1>
<h3><i><%= Time.zone.now %></i></h3>
<%== @result['html'] %>
