<!DOCTYPE html>
<html>
  <head>
    <title><%=Rails.application.class.parent_name%> Diagnostic</title>
    <style type="text/css">
      body { margin: auto;
             margin-bottom: 50px;
             border: 0;
             background-color: #fff;
             color: #333333;
             font-family: Arial, Helvetica, Verdana, sans-serif;
             font-weight: normal;
             font-size: 10pt; }
      table { border: none;
              border-collapse: collapse;
              display: inline-block;
              margin: 0px 5px 0px 5px;
              text-align: left;
      }
      th { padding: 9px;
           border: none;
           background-color: #d6d6d6 }
      td { padding: 9px;
      border: none;
      }
      th.error  { background-color: #ff5555 }
      tr.passed { background-color: #d0e9c6 }
      tr.failed { background-color: #ff5555 }
      td.desc { font-size: 10pt; }
      h1 { display: block;
           margin: 0px auto 40px auto;
           padding: 8px;
           background-color: #1aaa55;
           font-size: 18pt;
           color: #ffffff;
           line-height: 1.5em; }
      h2 {text-align: center;}
      h3.error {color: red;}
      h3 {text-align: center;}
      td.overflow { max-width: 250px;
         overflow: auto; }
      .wrapper {
         overflow-x: auto;
         white-space: nowrap;
         display: block;}
    </style>
  </head>
  <body>
    <% if @show_detail %>
    <div style="text-align:center">
      <h1><%=Rails.application.class.parent_name%> Diagnostic &#x26E8</h1>
      <%== @result.display %>
    </div>
    <% else %>
      <%= @data %>
    <% end %>
</body>
</html>
