<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= Rails.application.class.parent %></title>
  <%= stylesheet_link_tag 'marty/diagnostic' %>
</head>
<body>
  <%= yield %>
</body>
</html>
