.green-row {
    background-color: #91FF91;
}

.red-row {
    background-color: #FF4545;
}

.orange-row {
    background-color: #FF9D5C;
}

.x-grid-item-selected .green-row {
    background-color: #549454; /* V: 58 */
    font-weight: bold;
}

.x-grid-item-selected .red-row {
    background-color: #bd3333; /* V: 74 */
    font-weight: bold;
}

.x-grid-item-selected .orange-row {
    background-color: #b87243; /* V: 74 */
    font-weight: bold;
}
