/*
*= stub marty/dark_mode
*= require_tree .
*/

.bg-pennymac-blue {
  background-color: #003087;
  color: white;
}

.bg-pennymac-blue:hover {
  background-color: #01175b;
}

.bg-pennymac-yellow {
  background-color: #f1c400;
  color: black;
}

.bg-pennymac-yellow:hover {
  background-color: #a68104;
}

.bg-pennymac-cyan {
  background-color: #31afdf;
  color: black;
}

.bg-pennymac-cyan:hover {
  background-color: #18789c;
}

.bg-pennymac-red {
  background-color: #d1231d;
  color: white;
}

.bg-pennymac-red:hover {
  background-color: #881701;
}

.bg-pennymac-green {
  background-color: #14892c;
  color: white;
}

.bg-pennymac-green:hover {
  background-color: #06621b;
}

.bg-pennymac-charcoal {
  background-color: #333333;
  color: white;
}

.bg-pennymac-charcoal:hover {
  background-color: #1b1b1b;
}

.bg-pennymac-black {
  background-color: #000000;
  color: white;
}

.bg-pennymac-white {
  background-color: #ffffff;
  color: black;
}
